<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{{ url_for('login') }}">
        Name: <input type="text" name="name" required><br>
        
        {% if predefined_data.get("role") != "admin" %}
            Class: <input type="text" name="class" required><br>
            Section: <input type="text" name="section" required><br>
        {% endif %}
        
        Password: <input type="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
